.site-box{
    width : 750px;
    border: 1px solid #000000;
    margin : 5px auto
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.main {
  padding:20px;
  font-size: 18px;
}

.text{
  padding: 10px;
}

.result{
  padding: 10px;
  background: whitesmoke;
}

.footer{
  clear: both;
   width: 750px;
   padding-bottom: 20px;
}
